.main{
    display: grid;
}
.content{
    display: grid;
    justify-content: center;
}
.name{
    text-align: center;

}
body {
    background-color:azure
}
.generate{
    margin: auto;
    background-color: black;
    color: aliceblue;
    radius
}